* {
  box-sizing: border-box;
  text-align: center;
}
  
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  padding: 2px;
  font-family: 'Quicksand', sans-serif;

}
  
input[type="text"] {
  padding: 5px;
  width: 45px;
  font-size: 20px;
}
ul{
  list-style: none;
  padding: 0px;
}


input[type='button'],input[type='submit']{
  font-size: 30px;
  border: black solid 1px;
  background: none; 
    
}
  
button:hover {
  cursor: pointer;
}
  
.container {
    max-width: 850px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 350px;
}
  
.error-message {
      color: red;
}
  
.hidden {
    display: none;
}
 
i{
   font-size: 50px;
}

a{
  text-decoration: none;
  cursor: default;
  color: black;
}
a:hover{
  color: green;
}
.parkAddress{
  list-style: none;
}

header{
  display: block;
  margin-top: 0;
  position: absolute; 

}


.container>h2 {
  color: rgb(44, 44, 111);
  font-size: 28px;
}
label{
  font-size: 22px;
}

h1{
  font-family: 'Anton', sans-serif;
}



.grid-container{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  

}

header {
  color: rgb(11, 142, 109);
  font-size: 28px;
}

.grid-container,.grid-item{
  background: #0b8e6d3f;
}
.grid-item{
  text-align: center;
  width: 100%;
  padding: 15px;
  border: white 3px solid; 
}
ul, .grid-item,.grid-hold{
  
  margin: 0;
}
li{
  height: 50%;
}
input, button{
  border-radius: 5%;
}
.bold{
  font-weight: bolder;
}

.grid-hold{
  text-align: center;
  width: 100%;
  margin: 5px;
  display: inline-grid;
}

.grid-holder{
  
  display: inline-grid;
  grid-template-columns: auto auto;
  width:80%;
  margin: 0 auto;
  padding: 0;
  
}
img{
  margin-top: 25px;
}
header>p{
  margin-bottom: 0;
}

footer{
  position: absolute; 
  top: 200px;
  left: 5px;
}


.dark{
  background: darkslategray;
  color: rgb(220, 220, 220);
  
}



@media screen and (min-width: 500px){
  #darkMode{
    display: block;
  }
  h1{
    font-size: 38px;
  }
}


@media screen and (max-width: 499px){
  h1{
    font-size: 18px;
  }
}